{
  "presets": [[
    "@babel/preset-env", {
      "modules": false // tree-shaking的时候不transform modules
    }
  ]],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import", 
    "@babel/plugin-transform-runtime", 
    "@babel/plugin-proposal-object-rest-spread"
  ],
  "compact": false
}